[Unit]
Description=spire-server

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/spire
ExecStart=/opt/spire/spire-server run -config /opt/spire/conf/server/server.conf 

[Install]
WantedBy=multi-user.target

